*{
    margin: 0;
    padding: 0;
}
a{
    font-family: 'Manrope';
    text-decoration: none;
}
p {
    font-family: 'Manrope';
    font-style: normal;
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (min-width: 701px) {
    header{
        background-image: url(/images/background_desktop/background-header-detail.png);
        width: 100%;
        height: 350px;
        background-size:cover;
        background-repeat: no-repeat;                
        align-items: flex-start;
        display: flex;
        justify-content: center;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;                    
        gap: 30px;   
        justify-content: center;     
    }
    .navigation{             
        display: flex;
        flex-direction: row;
        align-items: center;            
        padding: 20px 100px 20px 105px; 
        gap: 40px;
        background: linear-gradient(3.96deg, rgba(255, 255, 255, 0.6) 46.27%, rgba(255, 255, 255, 0.1) 134.33%);
        box-shadow: inset 0px 4px 14px rgba(0, 0, 0, 0.1), inset 0px 0px 14px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(10px);
    }
    .overlay{
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .overlay-content{
        width: 947px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;
    }
    .overlay-content a{
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #2c2c2c;
        text-decoration: none;
    }
    .overlay-content a.active{      
        color: #FFFFFF;
    }
    .overlay-content a:hover{
        color: #FFFFFF;
    }
    .menu{
        position: absolute;
        z-index: -1;
    }
    .overlay .closebtn{
        position: absolute;
        visibility: hidden;
    }
    .text-navigation{
        width: max-content;
        display: flex;
        flex-direction: row;   
        gap: 4px;
    }
    .text-navigation a{
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: #2C2C2C;        
    }
    .text-navigation a.active{
        color: #FFFFFF;
    }
}
@media screen and (max-width: 700px){
    header{        
        background-image: url(/images/background_desktop/background-header-detail.png);                        
        background-size: cover;
        height: 350px;
    }
    .header{
        padding: 30px;
    }
    .navigation{        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: rgba(39, 123, 192, 0.6);
        backdrop-filter: blur(10px);
        transition: 0.5s;
      }
      
      .overlay-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 40px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #FFFFFF;        
        transition: 0.3s;
      }  
    
    .overlay {overflow-y: auto;}
    .overlay .closebtn {
    font-size: 40px;
    position:fixed;
    top: 20px;
    right: 10px;
    }
    .logo img{        
        height: 24px;
    }
    .menu{                       
        height: 16px;
    }
    .text-navigation a{
        font-weight: 600;
        font-size: 12px;
        line-height: 28px;
        color: #2C2C2C;
    }
    .text-navigation a.active{
        color: #FFFFFF;
    }

    
}